.weather{
    place-self: center;
    padding: 3%;
    border-radius: 10px;
    background-image: linear-gradient(45deg,#2f4680,#500ae4);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 620px;
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 2%;
}
.search-bar input{
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 5%;
    color: #626262;
    font-size: 1.5rem;
}
.search-bar img{
    padding: 11px;
    border-radius: 50%;
    background-color: #ebfffc;
    cursor: pointer;
    transition: transform 0.2s ease;
}
.weather-icon{
    width: 10rem;
    margin: 2rem 0;
}

.temparature{
    color: #fff;
    font-size: 4.5rem;
    line-height: 1
}
.location{
    color: #fff;
    font-size: 2rem;
}
.weather-data{
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 0.8rem;
    font-size: 2rem;
}
.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}
#havadur{
    color:white;
    font-size: 30px;
    margin-bottom: 15px
} 
 
.search-bar img:active {
    transform: scale(0.95); 
}

  @media (max-width: 450px) {
    .search-bar{
        gap: 0.5%;
    }
    .weather{    
        width: 350px;
    }
    #havadur{
        margin: 12px 0;
    } 
    .search-bar input{
        height: 2rem;
        font-size: 0.75rem;
    }
    .search-bar img{
        width: 2rem;
    }
    .weather-icon{
        width: 12rem;
        margin: 0.1rem 0;
    }
    .temparature{
        font-size: 4rem;
    }
    .location{
        font-size: 2rem;
    }
    .weather-data{
    padding: 0 15px;
    }    
  }